<form [formGroup]="expenseForm" (ngSubmit)="onFormSubmit()">
  <div class="basic-data">
    <div class="form-group">
      <label for="expense-title">Title</label>
      <input
        formControlName="title"
        type="text"
        class="form-control"
        id="expense-title"
        autocomplete="off"
      />
    </div>
    @if(expenseForm.controls.title.touched &&
    expenseForm.controls.title.invalid) {
    <p class="help-block">Title is required</p>
    }
    <div class="form-group">
      <label for="expense-amount">Amount</label>
      <input
        formControlName="amount"
        type="number"
        class="form-control"
        id="expense-amount"
        autocomplete="off"
      />
    </div>
    <div class="form-group">
      <label for="expense-date">Date</label>
      <input
        formControlName="date"
        type="date"
        class="form-control"
        id="expense-date"
        autocomplete="off"
      />
    </div>
  </div>
</form>
