<section class="container movie-list">
  <div class="movies-heading">
    <h2>Reviews</h2>
  </div>
  <div class="sort-container">
    <span><strong>Sort By: </strong></span>
    <app-button
      text="Rating"
      [style]="{ padding: '5px 10px' }"
      (btnClick)="onSortClick('rating')"
    />
    <app-button
      text="Like Count"
      [style]="{ padding: '5px 10px' }"
      (btnClick)="onSortClick('likeCount')"
    />
    <app-button
      text="Reset"
      [style]="{ padding: '5px 10px' }"
      (btnClick)="resetSort()"
    />
  </div>
  <div class="list-content">
    <ul>
      @for (movie of movies(); track movie.id) {
      <li (click)="onMovieClick(movie)">
        <app-movie-item [movie]="movie" />
      </li>
      }
    </ul>
  </div>
</section>
