<nav>
  <ul>
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{
          exact: true,
        }"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/about"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{
        exact: true,
      }"
        >About</a
      >
    </li>
    <li>
      <a
        routerLink="/students"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{
        exact: true,
      }"
        >Students</a
      >
    </li>
    <li>
      <a
        routerLink="/contact"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{
        exact: true,
      }"
        >Contact</a
      >
    </li>
  </ul>
</nav>
