main {
  padding: 24px;
}

img {
  width: 300px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.car-item {
  padding: 8px;
  border: 1px solid black;
  margin-bottom: 4px;
  border-radius: 8px;
  text-align: center;
}
