header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  .header-actions {
    display: flex;
    align-items: center;
    gap: 2rem;
    .user-info {
      color: #333;
      font-weight: 500;
    }
  }
}
