.movie-item {
  background-color: white;
  padding: 15px;
  border: 1.5px solid black;
  margin: 25px 5px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
