.ticket-box {
  width: 300px;
  padding: 5px 15px;
  margin: 10px 3px;
  border-radius: 8px;
  border: 1.5px solid #a0a0a0;
  cursor: pointer;
}

.new {
  background-color: #2ecc71;
}

.in-progress {
  background-color: #f1c40f;
}

.done {
  background-color: #3aabf6;
}
