<div class="ticket-panel">
  <div class="panel-controls">
    <button class="control-btn">NEW</button>
    <button class="control-btn">IN PROGRESS</button>
    <button class="control-btn">DONE</button>
    <button class="control-btn">RESET</button>
  </div>
  <div class="panel-container">
    <div class="ticket-list">
      @for (ticket of ticketList(); track ticket.id) {
        <app-ticket-box
          [ticket]="ticket"
          (ticketOutput)="onTicketSelect($event)"
        />
      }
    </div>
    @if (isDetailsShown()) {
      <!-- Signals can have their values set directly in the template without the need of template method wrappers -->
      <app-ticket-details
        [selectedTicket]="selectedTicket()"
        (hideOutput)="isDetailsShown.set(false)"
      />
    }
  </div>
</div>
