<header class="header">
  <!-- Logo section, clicking it navigates to the home page -->
  <div class="logo" routerLink="/">
    <img src="images/movies-logo.svg" alt="movie_reel_logo" />
  </div>
  <nav>
    <ul>
      <li>
        <!-- routerLink - The GPS for our app, routerLink is Angular's way of telling the router to go to a certain page  -->
        <!-- routerLinkActive="active": adds the "active" class to the link when its route is active (you can provie a class of your own choosing here) -->
        <!-- [routerLinkActiveOptions]="{exact: true}": The active class is only added when the current route exactly matches / (not for child routes)
        That means: If your current URL is /movies
        A link with routerLink="/" will still be active, because /movies starts with "/". -->
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li><a routerLink="/movies" routerLinkActive="active">Movies</a></li>
      <li>
        <a routerLink="/add-movie" routerLinkActive="active">Add Movie</a>
      </li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    </ul>
  </nav>
</header>
